/*font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;*/
*{
  box-sizing: border-box;
}
.body{

  font-style: normal;
}

/*** Header ***/
header {
background : #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.topbar{
background : #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}

.contacts-header {
background : #073953;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.logo {
width : 56px;
height : 79px;
padding-left : 20px;
padding-top : 20px;
}

.about-page{
left: 38px;
right: 38px;
background : #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;

}

/*** Nav Bars ***/
.topnav {
float : right;
font-family : Raleway;
font-weight : 500;
padding-top : 50px;
padding-right: 13px;
}
.topnav a {
text-decoration : none;
color : white;
padding-right : 25px;
}
.end {
padding-right : 0 !important ;
}
.bottomnav {
font-family : Raleway;
font-weight : normal;
background-color : #FF5A5F;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
padding-bottom : 50px;
text-align : center;
font-family : Raleway;
font-size : 18px;
line-height : 16px;
}
.bottomnav a {
top: 300px;
text-decoration : none;
color : white;
padding-right : 25px;
}

.contact-bottomnav {
font-family : Raleway;
font-weight : normal;
background-color : #073953;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
padding-bottom :60px;
padding-top: 40px;
text-align : center;
font-family : Raleway;
font-size : 18px;
line-height : 16px;
color : white;
}
.contact-bottom a {
text-decoration : none;
color : white;
padding-right : 25px;
}
.about-bottomnav{
padding-top: 980px;
}
.space {
padding-bottom : 45px ;
padding-left: 33px;
padding-right: 33px;
}

/*** Images ***/
.caseimage {
width : 100%;
left: 40px;
top: 250px;
}
.caseimage-2 {
width : 100%;
}
.caseimage-3 {
width : 100%;
padding-bottom: 50px;
}
.about-image{
position:relative;
width: 317.21px;
height: 237.91px;
left: 26.28px;
top: 350px;
background: url(IMG_8407.jpg);
border-radius: 25px;
}
.google{
position: relative;
width: 82px;
height: 28px;
padding-left: 147px;
padding-top: 50px;
top:2680px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
color:white;
}
.icloud{
  position: relative;
  padding-left: 147px;
  padding-top: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color:white;
  top: 2840px;
}
.dropbox{
  position: absolute;
padding-top: 15px;
padding-bottom: 30px;
padding-left: 140px;
top: 5320px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
color:white;
}
.icon{
position: absolute;
width: 80px;
height: 72.86px;
top: 4100px;
left: 148px;
}
.icon-2{
position: absolute;
width: 80px;
height: 72.86px;
top: -55px;
left: 148px;
}
.icon-3{
  position: relative;
  top: 3290px;
  max-width: 80px;
  left: 148px;
}
.persona{
position: absolute;
width: 140px;
height: 139.21px;
}
.flow-1{
position: absolute;
width: 72.3px;
height: 98.49px;
}
.flow-2{
position: absolute;
width: 113.85px;
height: 67.81px;
}
.flow-3{
position: absolute;
width: 104.4px;
height: 81.82px;
}
.wireframe{
position: absolute;
width: 290px;
height: 290px;
}
.cloud{
position: absolute;
width: 290px;
height: 163.08px;
}
.color{
position: absolute;
width: 120px;
height: 120px;
}

.casp-logo{
position: absolute;
width: 174.81px;
height: 270.29px;
}
.sketch{
position: absolute;
width: 157.46px;
height: 201px;
}
.sketch-1{
position: absolute;
width: 137.8px;
height: 201px;
}
.sketch-2{
position: absolute;
width: 68.58px;
height: 71.4px;
}
.sketch-3{
position: absolute;
width: 177.75px;
height: 113.88px;
top: 30px;
}

.typo{
position: absolute;
width: 290px;
height: 221.53px;
left: 42.5px;
}
.mock{
position: absolute;
width: 290px;
height: 187.54px;
}
.dashboard{
position: absolute;
width: 290px;
height: 290px;
}
.dashboard-2{
position: absolute;
width: 290px;
top: 3775px;
}
.dashboard-3{
position: absolute;
width: 290px;
top: 4332px;
}
.dashboard-4{
position: absolute;
width: 290px;
top: 4900px;
}
/*** Hero Sections ***/
.hero {
background : #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.casp-hero{
position: absolute;
width: 50px;
height: 16px;
left: 20px;
top: 100px;
display: flex;
align-items: center;
text-align: center;
}

.peony1{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.peony1 img{
width: 50%;
}
.peony2{
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
}
.peony2 img{
width: 50%;
}
.peony3{
bottom: 100px;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.peony3 img{
width: 50%;
}
.peony4{
display: inline-flex;
left: 0px;
}

.peony4 img{
width: 50%;

}
.peony5{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.peony5 img{
position: absolute;
top : 3475px;
width: 50%;
}
.peony6{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
}
.peony6 img{
position: absolute;
top : 1680px;
width: 50%;
left: 90px;
z-index: inherit;
}
.peony7{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
}
.peony7 img{
position: absolute;
top : 3350px;
width: 50%;
}
.hero-contact {
background : #073953;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}

.blue{
background : #073953;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.teal{
background: #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.pink{
background: #FF5A5F;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.boxes {
font-family : Montserrat;
font-style : normal;
font-weight : normal;
font-size : 18px;
line-height : 30px;
padding-top : 226px;
padding-left : 25px;
width : 100%;
color : white;
}
.message{
width: 307px;
height: 150px;
box-sizing: border-box;
background-color: white;
resize: none;
padding-top: 35px;
padding-bottom: 35px;
}


/*** Typography ***/
h1 {
font-family : "Work Sans";
font-style : normal;
font-weight : 300;
font-size : 64px;
line-height : 50px;
padding-left : 29px;
padding-right : 29px;
padding-top : 30px;
padding-bottom : 25px;
align-items : center;
text-align : center;
color : white;
}
h2 {
font-family : "Work Sans";
font-weight : normal;
font-size : 64px;
line-height : 70px;
display : flex;
align-items : center;
text-align : center;
color : white;
padding-left : 38px;
padding-right : 38px;
padding-bottom : 58px;
}
h3 {
font-family : Cinzel;
font-style : normal;
font-weight : normal;
font-size : 48px;
line-height : 64px;
align-items : center;
text-align : center;
color : white;
}
.h-3-space{
  left: 50px;
  padding-top: 85px;
  padding-bottom: 20px;
  font-family : Cinzel;
  font-style : normal;
  font-weight : normal;
  font-size : 48px;
  line-height : 64px;
  align-items : center;
  text-align : center;
  color : white;
}
h4{
position: absolute;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 45px;
display: flex;
text-align: center;
color: white;
}

h5 {
position : absolute;
width : 298px;
height : 107px;
left : 38.5px;
top : 99.72px;
font-family : Raleway;
font-style : normal;
font-weight : normal;
font-size : 40px;
line-height : 53px;
display : flex;
align-items : center;
text-align : center;
color : white;
padding-top : 100px;
}
h6{
font-family: Montserrat;
left: 71px;
top: 228.54px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 16px;
color: white;
display: flex;
align-items: center;
text-align: center;
}
.title{
font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
color:white;
padding-left: 20px;
}
.roles {
  position:absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  left: 0px;
  align-items: center;
  text-align: center;
  color:white;
  top: 120px;
}
.roles2 {
  position:absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  left: 0px;
  align-items: center;
  text-align: center;
  color:white;
  top: 130px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.roles3 {
  position:absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  left: 0px;
  align-items: center;
  text-align: center;
  color:white;
  top: 330px;
}
.roles4 {
  position:absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  left: 0px;
  align-items: center;
  text-align: center;
  color:white;
  top: 790px;
}
.comp-head{
position: relative;
width: 245px;
height: 28px;
top: 2380px;
padding-bottom: 10px;
padding-left: 44px;
font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: white;
}
.comp-para-1{
position: relative;
width: 290px;
height: 215.96px;
padding-left: 42.5px;
padding-top: 10px;
top: 2345px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color:white;
}
.comp-para-2{
position: relative;
width: 327px;
height: 172px;
top: 2680px;
padding-left: 24px;
padding-top: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color:white;
}
.comp-para-3{
position: relative;
width: 327px;
height: 172px;
top: 3025px;
padding-left: 24px;
padding-top: 90px;
padding-bottom: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color:white;
}
.comp-para-4{
position: relative;
width: 327px;
height: 172px;
top: 3370px;
padding-left: 24px;
padding-bottom: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color:white;
}
.bold{
    font-weight: bold;
    font-size: 30px;
}
.user-names{
position: absolute;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
color:white;
}
.user-head{
position: absolute;
font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: white;
}
.brand-char{
position: absolute;
width: 290px;
height: 126px;
left: 42.5px;
top: 10075.56px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: white;
}
.casp-hero{
left: 82.14px;
top: 185.32px;
}
.about-para{
position: absolute;
width: 298.99px;
height: 198.38px;
left: 38px;
top: 200px;
right: 38px;
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: left;
display: flex;
align-items: center;
letter-spacing: -0.0141176em;
color: white;
padding-top: 15px;
padding-bottom: 10px;
}
.background-para{
position: absolute;
width: 298.09px;
top: 740px;
left: 38.45px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: -0.0141176em;
padding-top: 0px;
color:white;
}
.background-para2{
position: absolute;
width: 298.09px;
left: 38.45px;
top: 1490px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: -0.0141176em;
color:white;
}
.why-design-para{
position: absolute;
width: 298px;
height: 398.25px;
left: 38.45px;
top: 2690px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: white;
}
.complex{
position: absolute;
width: 301.5px;
height: 46px;
left: 36.75px;
top: 110.76px;
padding-top: 10px;
}
.about-background{
position: absolute;
width: 147px;
height: 22px;
left: 36.75px;
top: 680px;
}
.why-design{
padding-top: 2270px;
padding-left: 38.45px;
}
.about-please{
position: absolute;
width: 298px;
height: 224px;
left: 38.5px;
top: 3200px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
color: white
}
.casp-background-1{
background : #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
line-height: 190px;
}
.casp-background-2{
background : #073953;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
height: 1200px;
}
.casp-background-3{
background : #FF5A5F;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.casp-background-4{
background : #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
height:inherit;
}
.overview{
position: absolute;
width: 100%;
padding-left: 120px;
padding-right: 120px;
height: 135px;
top: 630px;
display: flex;
align-items: center;
text-align: center;
color:white;

}
.summary{
position: absolute;
width: 291.64px;
height: 610.28px;
left: 41.68px;
top: 1820px;
color: white;
}
.user-survey{
position: absolute;
font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color:white;
top: 2600px;
padding-top: 25px;
padding-bottom: 25px;
padding-left: 45px;
  }
.surveys-para{
position: absolute;
top: 2650px;
padding-left: 45px;
padding-top: 20px;
padding-right: 42px;
padding-bottom: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color:white;
  }
.survey-head{
position: absolute;
height: 172px;
top: 2800px;
padding-left: 45px;
padding-bottom: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color:white;
}
.survey-head-2{
position: absolute;
height: 172px;
top: 3000px;
padding-left: 45px;
padding-bottom: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color:white;
}
.survey-head-3{
position: absolute;
height: 172px;
top: 3200px;
padding-left: 45px;
padding-bottom: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color:white;
}
.surv-1{
position: relative;
top: 2240px;
padding-left: 42px;
padding-bottom: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: center;
color:white;
}
.surv-2{
position: relative;
top: 2300px;
padding-left: 42px;
padding-bottom: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: center;
color:white;
}
.surv-3{
position: relative;
top: 2390px;
padding-left: 42px;
padding-bottom: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: center;
color:white;
}
.casp-header{
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
color: white;
position: absolute;
padding-bottom: 25px;
}
.casp-header-2{
position: absolute;
width: 125px;
height: 123.01px;
left: 155px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color:white;
padding-top: 160px;
padding-bottom: 60px;
}
.casp-header-3{
position: absolute;
width: 125px;
height: 123.01px;
left: 120px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color:white;
padding-top: 470px;

}
.casp-header-4{
position: absolute;
left: 158px;
height: 123.01px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color:white;
top: 700px;
}
.summary-head-1{
  position: absolute;
  width: 125px;
  height: 123.01px;
  left: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color:white;
  top: 10px;

}
.summary-head-2{
  position: absolute;
  width: 125px;
  height: 123.01px;
  left: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color:white;
  top: 250px;
}
.summary-head-3{
  position: absolute;
  width: 125px;
  height: 123.01px;
  left: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color:white;
  top: 450px;
}
.summary-para-1{
  position: absolute;
  width: 290px;
  height: 154px;
  left: 5px;
  top: 110px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: white
}
.summary-para-2{
  position: absolute;
  width: 290px;
  height: 154px;
  left: 5px;
  top: 330px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: white
}
.summary-para-3{
  position: absolute;
  width: 290px;
  height: 154px;
  left: 5px;
  top: 540px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: white
}
.disc{
top: 2530px;
padding-top: 30px;
background : #007E8B;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.more-space{
  padding-top: 10px;
  font-family: Montserrat;
  top: 220px;
  left: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}
/*** Text ***/
.welcome1 {
padding-left : 39px;
padding-right : 39px;
padding-bottom : 28px;
align-items : center;
text-align : center;
font-family : Raleway;
font-style : normal;
font-weight : 400;
font-size : 20px;
line-height : 30px;
color : white;
}
.welcome {
padding-left : 39px;
padding-right : 39px;
align-items : center;
text-align : center;
font-family : Raleway;
font-style : normal;
font-weight : 400;
font-size : 20px;
line-height : 30px;
color : white;
}

.caspian {
background : #073953;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
}
.case1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro {
padding-bottom : 50px;
padding-left : 39px;
padding-right : 39px;
align-items : center;
text-align : center;
font-family : Raleway;
font-style : normal;
font-weight : normal;
font-size : 24px;
line-height : 36px;
color : white;
}
.final {
background-color : #FF5A5F;
background-image: url(../images/BackgroundLines.png);
background-position: center;
background-repeat: repeat-y;
width : 100%;
color : white;
font-family : Raleway;
font-style : normal;
font-weight : normal;
font-size : 20px;
line-height : 37px;
text-align : center;
display: flex;
flex-direction: column;
align-items: center;
}
.contact {
top : 2150px;
width : 150px;
height : 50px;
font-size : 20px;
line-height : 16px;
align-items : center;
text-align : center;
background-color : #007E8B;
display : inline-block;
border-radius : 12px;
padding-top : 18px;
}
.bigger{
  font-size: 24px;
}


/*** Buttons ***/
.contact {
padding-top : 20px;
padding-bottom: 0px;
}
.contact a{
text-decoration : none;
color: white;
}
.contact-first{
top: 2150px;
background: #007E8B;
}
.bio-contact{
top: 3450px;
background: #FF5A5F;
}
.about-contact{
top: 2400px;
background: #FF5A5F;
box-sizing: border-box;
border-radius: 10px;
padding-bottom: 30px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;
}
.about-contact a{
text-decoration : none;
color: white;
}
.viewcase {
width : 150px;
height : 50px;
font-family : Raleway;
font-style : normal;
font-size : 20px;
text-align : center;
background-color : #007E8B;
border-radius : 12px;
padding-top : 18px;
margin-left: auto;
margin-right: auto;
}
.viewcase a{
text-decoration : none;
color : white;
}
.view-proto{
  position : absolute;
  width : 150px;
  height : 50px;
  left: 115px;
  top: 540px;
  font-family : Raleway;
  font-style : normal;
  font-weight : normal;
  font-size : 20px;
  line-height : 16px;
  align-items : center;
  text-align : center;
  background-color : #FF5A5F;
  border : none;
  display : inline-block;
  border-radius : 12px;
  padding-top : 18px;
}
.view-proto a{
text-decoration : none;
color : white;
}
.submit-button {
padding-top : 7px;
position : absolute;
text-decoration : none;
color : white;
width : 150px;
height : 50px;
left : 112px;
top: 690px;
font-family : Raleway;
font-style : normal;
font-weight : normal;
font-size : 20px;
line-height : 16px;
align-items : center;
text-align : center;
background-color : #007E8B;
border : none;
display : inline-block;
border-radius : 12px;
  }
